@font-face {
    font-family: Roboto;
    src: url(./assets/Roboto-VariableFont_wdth\,wght.ttf);
}

:root {
    --container-height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

.container {
    height: var(--container-height);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: #1992D4;
    grid-row: 1 / 3;
    display: grid;
    grid-auto-rows: max-content;
    gap: 3rem;
    color: white;
    padding: 1.5rem 2.5rem 0 1.5rem;
}

.sidebar .logo {
    font-size: 2rem;
}

.sidebar nav {
    display: grid;
    gap: 3rem;
}

.sidebar nav ul {
    display: grid;
    gap: 1rem;
    font-size: 1.5rem;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.header .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    height: 2.5rem;
}

.header .buttons button {
    border-radius: 25px;
    border: none;
    background-color: #1992D4;
    color: white;
    font-size: 1.15rem;
}

.main-contents {
    background-color: lightgray;
    display: grid;
    gap: 2rem;
    grid-template-columns: 3fr 1fr;
    padding: 3rem 2rem;
}

.main-contents .left-container {
    /* display: grid;
    gap: 0.5rem;
    grid-auto-rows: max-content; */
}

.main-contents .left-container .projects-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.main-contents .left-container .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.main-contents .left-container .card-container .card {
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #ccc;
    border-left: 10px solid #F0B429;
}

.main-contents .left-container .card-container .card .card-title {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
}

.main-contents .left-container .card-container .card .card-description {
    font-size: 0.9rem;
    color: #8A8A8A;
}

.main-contents .right-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.main-contents .right-container .announcements .announcements-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.main-contents .right-container .announcements .announcements-container {
    background-color: white;
    padding: 2rem 2rem 0.75rem 2rem;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 10px;
}

.main-contents .right-container .announcements .announcements-container .announcement:not(:last-child) {
    border-bottom: 1px solid lightgray;
    padding-bottom: 1rem;
}

.main-contents .right-container .announcements .announcements-container .announcement .announcement-title {
    font-size: 0.9rem;
    font-weight: 600;
}

.main-contents .right-container .announcements .announcements-container .announcement .announcement-description {
    font-size: 0.8rem;
}

.main-contents .right-container .trending .trending-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.main-contents .right-container .trending .trending-container {    
    display: grid;
    /* grid-template-rows: repeat(4, 1fr); */
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.main-contents .right-container .trending .trending-container .account {
    height: 55px;
    display: grid;
    gap: 0.6rem;
    grid-template-columns: 1fr 6fr;
    align-items: center;
}

.main-contents .right-container .trending .trending-container .account .account-image {
    width: 45px;
    height: 45px;
    background: gray;
}

.main-contents .right-container .trending .trending-container .account .account-name {
    font-size: 0.9rem;
    font-weight: 600;
}

.main-contents .right-container .trending .trending-container .account .account-description {
    font-size: 0.8rem;
}